#mcs-installer-result {
    margin-bottom: 60px;
    background-color: var(--template-bg-light, #f0f4fb);
    color: var(--template-text-dark, #495057);
    border: 1px solid var(--template-bg-dark-20, #cdcdcd);
    border-radius: 2px;
    padding: 18px 22px;
}

#mcs-installer-result .flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
}

#mcs-installer-result .flex-item {
    order: 0;
    flex: 1 1 auto;
    align-self: auto;
    flex-basis: 50%;
}

#mcs-installer-result .section-result {
    font-size: 16px;
    padding: 10px 0;
}

#mcs-installer-result h3 {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 24px;
}

#mcs-installer-result h4 {
    font-size: 15px;
}

#mcs-installer-result .section-title {
    font-size: 14px;
    margin-bottom: 8px;
    font-weight: 600;
}

#mcs-installer-result .section-container {
    padding-bottom: 8px;
    padding-left: 12px;
    font-size: 14px;
}

#mcs-installer-result .info {
    font-size: 14px;
}

#mcs-installer-result a {
    color: var(--template-link-color, #2a69b8);
}

#mcs-installer-result .green {
    color: #3c763d;
}

#mcs-installer-result .red {
    color: #ff2b2b;
}

#mcs-installer-result .section-container .icon-cube,
#mcs-installer-result .section-container .icon-database {
    color: #e68300;
}
